.button-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4158d0;
  height: 100%;
  width: 6%;
}

.button-bar button:last-child {
  margin-top: auto;
  margin-bottom: 20px;
}

.button-bar button:hover {
  background-color: #5d78fe;
  cursor: pointer;
}

.button-bar button:active {
  background-color: #4b65ea;
}

.profile {
  height: 50px;
  width: 100%;
  font-size: 32px;
  margin-top: 75px;
  background: none;
  border: none;
}

.home {
  height: 50px;
  width: 100%;
  font-size: 32px;
  margin-top: 15px;
  background: none;
  border: none;
}

.chat {
  height: 50px;
  width: 100%;
  font-size: 32px;
  background: none;
  border: none;
}

.addUser {
  height: 50px;
  width: 100%;
  font-size: 32px;
  background: none;
  border: none;
}

.todos {
  height: 50px;
  width: 100%;
  font-size: 32px;
  background: none;
  border: none;
}

.logout {
  height: 50px;
  width: 100%;
  font-size: 32px;
  background: none;
  border: none;
}

.sideBtn-active-home {
  height: 50px;
  width: 100%;
  font-size: 32px;
  margin-top: 15px;
  background: none;
  border: none;
  background-color: #5d78fe;
}

.sideBtn-active {
  height: 50px;
  width: 100%;
  font-size: 32px;
  background: none;
  border: none;
  background-color: #5d78fe;
}
